#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #58af07bb
}


body { background: rgb(241, 241, 241) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
    background: rgb(241, 241, 241);
}

#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

.list-title{
    text-align: center
}

.list-group{
    border: 5px #1bc98e;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}


#nav-title {
    color: whitesmoke;
    font-size: 20px;
}

#fridge-icon {
    text-align: left
}

.form-inline > * {
    margin:5px 5px;
 }


body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #58af07bb;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/*****************  Style for Choose IMG button on profile page *********************/

#custom-button {
  padding: 10px;
  color: white;
  background-color: #58af07bb;
  border: 10px #000;
  cursor: pointer;
}

#custom-button:hover {  
  background-color: #65a528
}

#custom-text {
  margin-left: 10px;
  color: #aaa;

}

.target {
  width: 120px;
  height: 30px;
}


/*******************  Fridge Styles *************************/

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.myULlist {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.myULlist li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.myULlist li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.myULlist li:hover {
  background: #ddd;
}


/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #58af07bb;
  color: white;
}

/* Style the header */
.myDIVheader {
  background-color: #58af07bb;
  padding: 10px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.myDIVheader:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.myInputClass {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/******************************* Sidebar Styles ***********************************/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.sidebar-nav li a:hover {
    color:rgb(255, 255, 255);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
